@import "vars";
@import "global";
@import "fonts";

// start header

.header__top-inner{
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}
.header__text{
  margin-left: auto;
  margin-right: 30px;
  span{
    color: $red;
  }
}
.header__btn{
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  margin-left: 7px;
}
.header__btn-login{
  background-color: $green;
}
.header__btn-register,
.header__btn-logout{
  background-color: $red;
}
.header__menu{
  background-color: $bg;
}
.menu{
  height: 60px;
  display: flex;
  align-items: center;
}
.menu__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 30px;
    }
  }
  a{
    color: #fff;
    font-size: 14px;
  }
}
.header__box{
  display: flex;
  align-items: center;
  &.icon{
    color: #000;
  }
}
.header__circle{
  display: none;
  &.active{
    display: block;
  }
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f5f5f5;
  &:before{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    font-size: 14px;
  }
  span{
    position: absolute;
    color: #ffff;
    font-size: 11px;
    min-width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #000;
    text-align: center;
    line-height: 18px;
    top: -7px;
    right: -6px;
  }
}
.notification{
  span{
    background-color: $orange;
  }
}
.message{
  span{
    background-color: $tomato;
  }
}
.basket{
  span{
    background-color: $green;
  }
}
.user{
  margin-right: 10px;
  &__img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 15px;
  }
  &__inner{
    display: flex;
    align-items: center;
    margin-top: -5px;
    .user__info{
      font-size: 14px;
      @include f500;
      .user__name{
        color: #222222;
        padding-top: 4px;
        position: relative;
        padding-right: 15px;
        &:before{
          content: "\f107";
          font-size: 16px;
          position: absolute;
          right: 0;
          color: #707070;
        }
      }
      .user__money{
        @include f700;
        color: $green;
      }
    }
  }
}
.header__btn-login--off{
  display: none;
}
.header__btn-logout{
  display: none;
  &.header__btn-login--on{
    display: block;
  }
}
.user__menu{
  z-index: 1;
  padding: 0 20px;
  border: 0 solid #d5d5d5;
  background-color: #fff;
  width: 158px;
  position: absolute;
  top: 62px;
  right: -10px;
  overflow: hidden;
  height: 0;
  transition: all .4s;
  a{
    color: #546e7a;
    font-size: 12px;
  }
  li{
    & + li{
      margin-top: 15px;
    }
  }
}
.notification__box,
.message__box,
.basket__box,
.user__box{
  position: relative;
  height: 90px;
  margin-top: 56px;
  transition: all .4s;
  &:hover{
    .user__menu{
      height: auto;
      padding: 20px;
      border-width: 1px;
    }
  }
}
.circle__menu{
  position: absolute;
  right: 0;
  top: 62px;
  height: 0;
  overflow: hidden;
  z-index: 1;
}
.notification__box,
.message__box,
.basket__box{
  margin-right: 15px;
  &:hover{
    .header__circle{
      color: $bg;
    }
    .circle__menu{
      position: absolute;
      height: auto;
      border-top: 1px solid #d5d5d5;
    }
    .circle__item{
      padding: 23px;
      border-width: 1px;
    }
  }
}
.circle__item{
  transition: all .3s;
  background-color: #fff;
  border: 0px solid #d5d5d5;
  border-top: none;
  padding:  0 23px;
  display: flex;
  align-items: center;
  width: 269px;
  border-left-width: 1px;
  border-right-width: 1px;
}
.circle__info{
  font-size: 13px;
}
.circle__img{
  margin-right: 15px;
}
.circle__info-name{
  color: $bg;
  @include f500;
}
.circle__info-them{
  color: $green;
  font-size: 12px;
}
.circle__info-price{
  color: #000;
  @include f500;
}
.basket__sum{
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-top: none;
  padding: 16px 16px 12px;
}
.basket__title{
  display: flex;
  justify-content: space-between;
  padding: 0 15px 10px 13px;
  @include f700;
  font-size: 16px;
  color: #000;
}
.basket__btn{
  padding: 12px 5px;
  width: 100px;
  background-color: $green;
  font-size: 14px;
  @include f700;
  color: #fff;
  text-align: center;
}
.basket__btn-checkout{
  width: 125px;
  margin-left: 5px;
  background-color: #e85647;
}
.icon-color:before{
  color: $orange;
}
.circle__item{
  line-height: 20px;
  position: relative;
  &:before{
    position: absolute;
    font-size: 16px;
    top: 27px;
    right: 28px;
  }
  .circle__info-them,
  .circle__info-name{
    font-size: 12px;
  }
  .circle__info-price{
    color: #707070;
    font-weight: 400;
    font-size: 11px;
  }
}
.notification__menu{
  .circle__info-them{
    font-size: 14px;
    margin-bottom: 5px;
  }
  .circle__info-price{
    font-size: 13px;
  }
}
.notification__menu {
  .circle__item {
    display: flex;
  }
}
.header__btn-menu,
.menu__btn {
  display: none;
}
// end header
// start search
.search {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 533px;

  &.page-search {
    min-height: 230px;

    .search__inner {
      padding: 55px 0 70px;

      &-text {
        margin-bottom: 20px;
      }
    }
  }
}

.search__inner {
  text-align: center;
  color: #fff;
  padding: 145px 0 100px;

  &-title {
    line-height: 60px;
    font-size: 48px;
    @include f700;
    margin-bottom: 25px;
  }

  &-text {
    @include f500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 55px;
  }

  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
  }

  input {
    display: block;
    width: 100%;
    font-size: 14px;
    box-shadow: 0 1px 10px 0 rgba(124, 178, 64, 0.75);
    border-radius: 4px;
    height: 56px;
    border: none;
    outline: none;
    padding-left: 25px;
    padding-right: 60px;

    &::placeholder {
      color: #90a4ae;
      @include f500;
    }
  }

  button {
    position: absolute;
    background-color: transparent;
    top: 15px;
    right: 16px;
    border: none;
  }
}

// end search
// start products

.products {
  padding: 110px 0;
  background-color: $grey;
}

.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;

  button {
    color: $bg;
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 12px 21px;
    outline: none;

    & + button {
      margin-left: 5px;
    }

    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item {
  max-width: 422px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  background-color: #fff;
  margin-bottom: 30px;

  &-img {
    display: block;
    min-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-content {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    @include f500;
    min-height: 90px;
    align-items: center;
    border-bottom: 1px solid #e7ecf2;
  }

  &-title {
    max-width: 310px;
    font-size: 18px;
    color: $bg;
    display: block;
  }

  &-category {
    font-size: 14px;
    color: $green;
    display: block;
  }

  &-price {
    padding-left: 5px;
    font-size: 20px;
    @include f700;
    color: $bg;
  }

  &-info {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    @include f500;
    min-height: 70px;
    align-items: center;
  }

  &-author {
    display: flex;
    align-items: center;
    max-width: 245px;

    .avatar {
      display: inline-block;
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 15px;
    }

    span {
      font-size: 14px;
      @include f500;
    }
  }

  &-star {
    font-size: 12px;

    span {
      color: $bg;
    }
  }
}

.product__bottom-btn {
  text-align: center;

  button {
    margin: 45px 5px 0;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    color: $bg;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    outline: none;

    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}

// end products
// start product-slider
.product-slider {
  padding: 110px 0 100px;

  &__title {
    margin-bottom: 60px;
  }

  &__inner {
    .slick-dots {
      text-align: center;

      li {
        display: inline-block;
        margin-right: 3px;
        margin-left: 3px;

        &.slick-active button {
          background-color: $green;
        }
      }

      button {
        font-size: 0;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        border: none;
        outline: none;
      }
    }
  }
}

// end product-slider
// start advantages
.advantages {
  background-color: $bg;
  padding: 110px 0;

  &__title {
    color: #fff;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  .advantages-item {
    max-width: 370px;
    text-align: center;

    &:hover {
      .advantages-item__img {
        svg {
          fill: #fff;
        }
      }

      .advantages-item__img {
        background-color: $green;
      }

      .advantages-item__title {
        color: $green;
      }
    }

    &__img {
      width: 114px;
      height: 114px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto 30px;
      transition: all .4s;
    }

    &__title {
      font-size: 24px;
      @include f500;
      color: #fff;
      margin-bottom: 60px;
      transition: all .4s;
    }

    &__text {
      font-size: 15px;
    }
  }

  .advantages-item__img {
    svg {
      transition: all .4s;
    }
  }

  .advantages-item__img {
    &.ico-1,
    &.ico-2,
    &.ico-3 {
      svg {
        width: 115px;
        height: 80px;

      }
    }
  }
}

// end advantages
// start author
.author {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
    max-width: 650px;
    width: 100%;
    min-height: 215px;

    &__title {
      font-size: 30px;
      line-height: 30px;
      max-width: 265px;
      color: #fff;
      margin-right: 45px;

      span {
        @include f700;
      }
    }

    &__link {
      display: inline-block;
      cursor: pointer;
      font-size: 18px;
      background-color: #fff;
      padding: 16px 40px;
      color: $bg;
    }
  }
}

// end author
// start tutorial
.tutorial {
  margin: 70px 0 120px;

  &-title {
    margin-bottom: 55px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.tutorial-item {
  max-width: 370px;
  width: 100%;

  &__img {
    min-height: 270px;
  }

  &__title {
    padding: 30px 10px;
    cursor: pointer;
    font-size: 24px;
    line-height: 60px;
    @include f700;
    background-color: $grey;
    text-align: center;
  }

  &__title a {
    color: $bg;
  }
}

// end tutorial
// start footer
.footer {
  background-color: $bg;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 80px;
  }
}

.footer__col {
  max-width: 270px;
  width: 100%;

  &-menu {
    max-width: 220px;
  }

  &-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 22px;
    padding-bottom: 22px;
    margin-bottom: 30px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 51px;
      height: 3px;
      background-color: $green;
      left: 2px;
      bottom: 0;
    }
  }

  &-text {
    margin-left: 2px;
    color: #9aa6ab;
    line-height: 24px;
    margin-bottom: 15px;
  }

  &-info {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    padding-left: 30px;
    margin: 18px 0 2px;
    position: relative;

    &:before {
      content: "\f041";
      position: absolute;
      font-family: 'icomoon';
      font-size: 18px;
      color: $green;
      left: 0;
    }
  }

  .footer__col-phone:before {
    content: "\f095";
  }

  .footer__col-list {
    a {
      color: #9aa6ab;
      padding-left: 22px;
      margin-bottom: 13px;
      position: relative;

      &:before {
        content: "\f105";
        position: absolute;
        left: 0;
        color: $green;
        font-size: 18px;
        font-family: 'icomoon';
      }
    }
  }

  .footer__social-link {
    margin-bottom: 33px;

    li {
      display: inline-block;

      & + li {
        margin-left: 7px;
      }
    }

    a {
      width: 28px;
      height: 28px;
      background-image: url(../images/css_sprites.png);
    }
  }

  .link-facebook {
    background-position: 0 0;
  }

  .link-twitter {
    background-position: -28px -0;
  }

  .link-youtube {
    background-position: -56px -0;
  }

  .link-pinterest {
    background-position: -84px -0;
  }

  .link-linkedin {
    background-position: -112px -0;
  }
}

.footer__form {
  position: relative;

  &-title {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    line-height: 36px;
  }

  input {
    background-color: #2f3c43;
    height: 40px;
    font-size: 14px;
    padding: 0 50px 0 13px;
    border: none;
    display: block;
    width: 100%;
    color: #fff;

    &::placeholder {
      color: #566166;
    }
  }

  button {
    position: absolute;
    content: '';
    background-color: $green;
    width: 43px;
    height: 40px;
    bottom: 0;
    right: 0;
    border: none;
    cursor: pointer;

    &:before {
      content: '\f124';
      font-size: 20px;
      font-family: 'icomoon';
      color: #fff;
    }
  }
}

.footer__copy {
  border-top: 1px solid #424d53;
}

.footer__copy-text {
  text-align: center;
  background-color: $bg;
  font-size: 15px;
  padding: 25px 0;
  color: #7c8286;
}

//end footer

//start product-page
.product-page__inner {
  display: flex;
  padding-bottom: 50px;
}

.product-page__aside {
  margin-right: 30px;

  .aside__item {
    padding: 0 32px 20px;
    background-color: #fff;
    margin-bottom: 30px;
    border: 1px solid #dedede;
    max-width: 270px;
  }

  .aside__title {
    font-size: 20px;
    @include f700;
    color: $bg;
    padding: 23px 0 18px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 25px;
  }
}

.category__list {
  li {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    color: #9aa6ab;
    padding-left: 22px;
    margin-bottom: 13px;
    position: relative;

    &:before {
      content: "\f105";
      position: absolute;
      left: 0;
      color: #8bc34a;
      font-size: 18px;
      font-family: 'icomoon';
    }
  }

  a {
    color: $bg;
  }

  span {
    color: #90a4ae;
    margin-left: 10px;
  }
}

.price-range {
  form {
    margin-top: -15px;
  }

  button {
    margin-top: 40px;
    padding: 16px 10px;
    @include f500;
    color: #fff;
    background-color: $green;
    display: block;
    border: none;
    text-align: center;
    width: 100%;
    cursor: pointer;
    position: relative;

    &:before {
      content: "\f002";
      position: absolute;
      left: 55px;
      color: #fff;
      top: 14px;
      font-size: 15px;
      font-family: 'icomoon';
    }
  }
}

.irs-min,
.irs-max {
  display: none;
}

.irs--flat .irs-line {
  background-color: #f2f5f8;
  height: 5px;
}

.irs--flat .irs-bar {
  background-color: $bg;
  height: 5px;
}

.irs-from, .irs-single, .irs-to {
  top: 45px;
}

.irs--flat .irs-handle > i:first-child {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid $green;
  top: -2px;
}

.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before {
  display: none;
}

.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
  color: #78909c;
  background-color: transparent;
  padding-left: 15px;
  font-size: 15px;
}

.aside__product-item {
  .product__item {
    box-shadow: none;
    border-bottom: 1px solid #dedede;
    padding-bottom: 15px;

    &:last-child {
      border-bottom: none;
    }
  }

  .product__item-img {
    min-height: 120px;
  }

  .product__item-content {
    padding: 0;
    border-bottom: none;
    min-height: 70px;
  }

  .product__item-title {
    font-size: 16px;
    margin-top: 8px;
  }

  .product__item-price {
    font-size: 16px;
    padding-left: 7px;
  }

  .product__item-info {
    min-width: 100%;
    padding: 0;
    min-height: 50px;
  }

  .product__item-author .avatar {
    margin-right: 8px;
  }

  .product__item-starnum {
    display: none;
  }

  .rate-star {
    margin-right: 0;
  }

  .jq-ry-container {
    padding: 0 0 0 7px;
  }
}

.top-sellers__link {
  margin-top: -15px;
  padding: 16px 10px;
  @include f500;
  color: #fff;
  background-color: $green;
  display: block;
  border: none;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.product-page__content {
  width: 100%;

  .product-page__filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: #fff;
    margin-bottom: 30px;
    border: 1px solid #dedede;

    button {
      border: none;
      background-color: transparent;
      color: #90a4ae;
      font-size: 16px;
      outline: none;
      cursor: pointer;

      &.active {
        color: $green;
      }
    }

    span {
      padding: 0 8px;
      color: #707070;
    }
  }

  .product-page__filter-sort {
    display: flex;
    align-items: center;
  }

  button.icon-sort-amount-desc {
    font-size: 14px;
    color: #455a64;
  }

  button.icon-unsorted {
    font-size: 18px;
    color: #455a64;
  }
}

.product-page__items {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;

  .product__item {
    max-width: 270px;
    transition: all .4s;

    &:hover {
      box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
    }
  }

  .product__item-img {
    min-height: 180px;
  }

  .product__item-title {
    font-size: 16px;
  }

  .product__item-content {
    padding: 10px 25px;
  }

  .product__item-info {
    padding: 10px 25px;
  }

  .product__item-author .avatar {
    margin-right: 7px;
  }

  .rate-star {
    margin-right: 5px
  }

  .product__item-content {
    min-height: 80px;
  }

  .product__item-star span {
    display: none;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 107px;

  .pagination__list {
    li {
      display: inline-block;

      & + li {
        margin-left: 8px;
      }
    }

    a, span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 43px;
      height: 38px;
      background-color: #fff;
      font-size: 16px;
      color: $bg;
      @include f500;
      box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);

      &.active {
        background-color: #e74c3c;
        color: #fff;
      }
    }
  }
}

.product-item__content{
  .product__item-text{
    display: none;
  }
  .product__item-price span{
    display: none;
  }
  .product__item-list{
    display: none;
    .icon-comment-o,
    .icon-heart-o{
      display: inline-block;
      font-size: 12px;
      color: #b0bec5;
      padding-left: 50px;
      border-left: 1px solid #70838d;
      position: relative;
      span{
        @include f500;
        color: $bg;
      }
      &:before{
        position: absolute;
        font-size: 16px;
        color: $green;
        left: 20px;
        top: 0;
      }
    }
    .icon-comment-o{
      padding-right: 30px;
      &:before{
        position: absolute;
        top: -2px;
      }
    }
  }
  &.list  {
    max-width: 100%;
    .product__item-img {
      width: 239px;
      min-height: 100%;
      float: left;
    }
    .product__item-text{
      display: block;
      color: #70838d;
      margin-bottom: 10px;
      font-size: 14px;
      margin-top: 15px;
    }
    .product__item-price{
      span{
        display: block;
        font-size: 13px;
        color: #aeb4bb;
        margin-top: 26px;
        margin-left: -23px;
      }
    }
    .product__item-name{
      max-width: 480px;
    }
    .product__item-list{
      display: block;
    }
    .product__item-starnum{
      display: inline-block;
    }
    .product__item-star{
      margin-top: 2px;
      color: #b0bec5;
      margin-left: auto;
      padding-right: 30px;
    }
    .product__item-content{
      padding: 15px 25px;
    }
  }
}
//end product-page




@import "media";